<html>
    <body>
        <a href="/">Home</a>
        <h1>Add Student</h1>
        <form action="/students/add" method="POST">
            <label>ID:</label>
            <input type="text" name="sid"><br>
            <label>Name</label>
            <input type="text" name="name"><br>
            <label>Age</label>
            <input type="text" name="age"><br>
            <input type="submit" value="Add Student">
        </form>
    </body>
</html>