<html>
    <body>
        <a href="/">Home</a>
        <h1>Update Student</h1>

        <ul style="list-style-type: disc;">
            <li id="nameValidation" style="display: none;">Student name must be at least 2 characters.</li>
            <li id="ageValidation" style="display: none;">Student age must be at least 18.</li>
        </ul>

        <form  id="editStudentForm" action="/students/edit/<%= student.sid %>" method="POST">
            <label>ID:</label>
            <input type="text" name="sid" value="<%= student.sid %>" readonly><br>
            <label>Name</label>
            <input id="name" type="text" name="name" value="<%= student.name %>"><br>
            <label>Age</label>
            <input id="age" type="text" name="age" value="<%= student.age %>"><br>
            <input type="submit" value="Update">
        </form>

        <script>

            document.getElementById("editStudentForm").addEventListener("submit", function(event) {
                document.getElementById("nameValidation").style.display = "none";
                document.getElementById("ageValidation").style.display = "none";

                let isValid = true;
                let name = document.getElementById("name").value.trim();
                let age = document.getElementById("age").value.trim();

                if (name.length <= 2) {
                    document.getElementById("nameValidation").style.display = "list-item";  
                    isValid = false;
                }
                
                if (isNaN(age) || age < 18) {
                    document.getElementById("ageValidation").style.display = "list-item"; 
                    isValid = false;
                }

                if (!isValid) {
                    event.preventDefault();  
                }
            })

        </script>
    </body>
</html>