<html>
    <body>
        <a href="/">Home</a>
        <h1>Update Student</h1>
        <form action="/student/edit/:id" method="POST">
            <label>ID:</label>
            <input type="text" name="sid"><br>
            <label>Name</label>
            <input type="text" name="name"><br>
            <label>Title</label>
            <input type="text" name="age"><br>
            <label>Salary</label>
            <input type="submit" value="OK">
        </form>
    </body>
</html>