<html>
    <head>
        
    </head>
    <body>
        <h1>G00424523</h1>
        <a href="/students">Students</a>
        <br>
        <a href="/grades">Grades</a>
        <br>
        <a href="/lecturers">Lecturers</a>
    </body>
</html>