<html>
    <head>
        
    </head>
    <body>
        <!-- student id -->
        <h1>G00424523</h1>
        <!-- link to navigate to students page -->
        <a href="/students">Students</a>
        <br>
        <!-- link to navigate to grades page -->
        <a href="/grades">Grades</a>
        <br>
        <!-- link to navigate to lecturers page -->
        <a href="/lecturers">Lecturers</a>
    </body>
</html>