<html>
    <body>
        <!-- link to navigate to home page -->
        <a href="/">Home</a>
        <h1>Error Message</h1>
        <!-- display error message with lecturer ID that could not be deleted -->
        <h2>Cannot delete Lecturer <%= lid %>. He/She has associated modules</h2>
    </body>
</html>