<html>
    <head>
        <title>Student Table</title>
        <style>
            /* CSS styles for the table */
            table {
                border-spacing: 2px;
            }

            table, th, td {
                border: 1px solid black;
                text-align: center;
            }
        </style>
    </head>

    <body>

        <h1>Students</h1>
        <a href="/students/add">Add Student</a>
        <br>
        <a href="/">Home</a>

        <table>
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
            <% students.forEach((student) =>
            { %>
                <tr>
                    <td><%= student.sid %></td>
                    <td><%= student.name %></td>
                    <td><%= student.age %> </td>
                    <td><a href="/students/edit/:<%= student.sid %>">Update</a></td>
                </tr>
            <% }) %>
        </table>
    </body>
</html>